.nav{
    background-color: var(--header-color);
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    width: auto;
    height: 6.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.nav a{
    font-size: 40px;
    color: var(--font-color);
}
.nav div{
    width: auto;
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.nav div a{
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 20px;
}
.nav2{
    background-color: var(--header-color);
    /* padding: 10px; */
    padding-right: 30px;
    padding-left: 30px;
    width: auto;
    height: 6.6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.nav2 a{
    font-size: 40px;
    color: var(--font-color);
}
.nav2 div{
    width: auto;
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.nav2 div a{
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: 20px;
}